  <footer th:fragment="footer" class="bg-beige text-black py-4" style="background-color: #51e9f1">
    <!-- Thanh ngang chia footer -->
    <div class="container">
      <div class="row">
        <!-- Logo Section -->
        <div class="col-12 col-md-2 text-center text-md-left mb-3 mb-md-0">
          <img src="/assets/img/logo1.jpg" alt="Logo" class="img-fluid" style="max-width: 130px; height: 70px; border-radius: 16px;">
          <ul class="list-unstyled mt-3">
            <li>Beta Cinema</li>
            <li>© 2024</li>
          </ul>
        </div>

        <!-- Cụm rạp Beta Section -->
        <div class="col-12 col-md-5 mb-5 mb-md-0 footer-links">
          <h5 class="text-center text-md-left">CỤM RẠP BETA</h5>
          <div class="bg-primary" style="height: 3px;"></div>
          <div class="list-unstyled">
            <a href="#" class="d-block mb-2 text-decoration-none text-dark hover:text-primary">> Beta Cinemas Ung Văn Khiêm, TP Hồ Chí Minh - Hotline 0969 874 873</a>
            <a href="#" class="d-block mb-2 text-decoration-none text-dark hover:text-primary">> Beta Cinemas Lào Cai - Hotline 0358 968 970</a>
            <a href="#" class="d-block mb-2 text-decoration-none text-dark hover:text-primary">> Beta Cinemas Trần Quang Khải, TP Hồ Chí Minh - Hotline 1900 638 362</a>
            <a href="#" class="d-block mb-2 text-decoration-none text-dark hover:text-primary">> Beta Cinemas TRMall Phú Quốc, Kiên Giang - Hotline 0983 474 440</a>
            <a href="#" class="d-block mb-2 text-decoration-none text-dark hover:text-primary">> Beta Cinemas Empire Bình Dương - Hotline 0934 573 748</a>
          </div>
        </div>





        <!-- Kết nối với chúng tôi Section -->
        <div class="col-12 col-md-2 mb-3 mb-md-0">
          <h5 class="text-center text-md-left">Kết nối với chúng tôi</h5>
          <div class="bg-primary" style="height: 3px;"></div>
          <div class="d-flex justify-content-start gap-3">
            <a href="https://www.facebook.com/betacinemas/" class="btn btn-outline-dark p-2 border-0" style="width: 40px; height: 40px; border-radius: 50%; display: flex; justify-content: center; align-items: center;">
              <img src="/assets/img/facebook-logo.png" alt="Facebook" class="img-fluid" style="width: 25px; height: 25px;">
            </a>
            <a href="https://www.instagram.com/betacinemas/" class="btn btn-outline-dark p-2 border-0" style="width: 40px; height: 40px; border-radius: 50%; display: flex; justify-content: center; align-items: center;">
              <img src="/assets/img/instagram_logo.png" alt="Instagram" class="img-fluid" style="width: 25px; height: 25px;">
            </a>
            <a href="https://www.tiktok.com/@beta_cinemas" class="btn btn-outline-dark p-2 border-0" style="width: 40px; height: 40px; border-radius: 50%; display: flex; justify-content: center; align-items: center;">
              <img src="/assets/img/logo_tiktok.avif" alt="Tiktok" class="img-fluid" style="width: 25px; height: 25px;">
            </a>
            <a href="https://www.youtube.com/channel/UCGj6uah35-eNiH_2mdubYRw" class="btn btn-outline-warning p-2 border-0" style="width: 40px; height: 40px; border-radius: 50%; display: flex; justify-content: center; align-items: center;">
              <img src="/assets/img/youtube-logo.png" alt="YouTube" class="img-fluid" style="width: 25px; height: 25px;">
            </a>
          </div>
        </div>


        <!-- Liên hệ Section -->
        <div class="col-12 col-md-3 contact-info">
          <h5 class="text-center text-md-left">Liên hệ</h5>
          <div class="bg-primary" style="height: 3px;"></div>
          <ul class="list-unstyled">
            <li><strong>CÔNG TY CỔ PHẦN BETA MEDIA</strong></li>
            <li>Địa chỉ trụ sở: Tầng 3, số 595, đường Gải Phóng, quận Hoàng Mai, thành phố Hà Nội</li>
            <li>Email: mkt@betacinemas.vn</li>
            <li>Hotline: 1900 636807 / 0934632682</li>
            <li><strong>Liên hệ hợp tác kinh doanh</strong></li>
            <li>Hotline: 1800 646 420</li>
            <li>Email: bachtx@betagroup.vn</li>
          </ul>
        </div>
      </div>

      <!-- Footer Separator -->
      <div class="mt-4 border-top pt-3"></div>
    </div>
  </footer>

