<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard Cinema</title>
    <!-- ======= Styles ====== -->
    <link rel="stylesheet" th:href="@{/assets/css/movie.css}">
</head>

<body>
<!-- =============== Navigation ================ -->
<div th:replace="~{Admin/navMenu:: navbar}"></div>

<!-- =========================== Main cho quản lý phim ==================================== -->
<div id="dashboard" class="content active">
    <div class="main">
        <div class="topbar">
            <div class="toggle">
                <ion-icon name="menu-outline"></ion-icon>
            </div>
            <h2>User Management</h2>
            <div class="search-form">
                <div class="search-bar">
                    <input type="text" id="searchInput" placeholder="Search for users...">
                    <button id="searchButton">Search</button>
                </div>
            </div>
        </div>
        <!-- Nút Lọc với Menu Con -->
        <table>
            <thead>
            <tr>
                <th>Mã</th>
                <th>Tên</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Membership</th>
                <th>Điạ chỉ</th>
                <th>Thao Tác</th> <!-- Cột thêm, sửa, xóa -->
            </tr>
            </thead>
            <tbody id="userTable">
            <!-- Dòng dữ liệu sẽ được thêm vào đây -->
            </tbody>
        </table>

        <div id="userModal" class="modal">
            <div class="modal-content">
                <span class="close">&times;</span>
                <h2>Thông tin người dùng</h2>
                <form id="userForm">
                    <div>
                        <label for="userId">Mã người dùng</label>
                        <input type="text" id="userId" disabled>
                    </div>
                    <div>
                        <label for="userName">Họ tên:</label>
                        <input type="text" id="userName">
                    </div>
                    <div>
                        <label for="userEmail">Email:</label>
                        <textarea id="userEmail" rows="4"></textarea>
                    </div>
                    <div>
                        <label for="userPhone">Số điện thoại:</label>
                        <input type="text" id="userPhone">
                    </div>
                    <div>
                        <label for="userBirthday">Ngày sinh:</label>
                        <input type="text" id="userBirthday">
                    </div>
                    <div>
                        <label for="userGender">Giới tính:</label>
                        <input type="text" id="userGender">
                    </div>
                    <div>
                        <label for="userAddress">Địa chỉ:</label>
                        <input type="text" id="userAddress">
                    </div>
                    <div>
                        <label for="userCreatedAt">Ngày tạo tài khoản:</label>
                        <input type="date" id="userCreatedAt">
                    </div>
                    <div>
                        <label for="userMembership">Cấp độ thành viên:</label>
                        <input type="text" id="userMembership">
                    </div>
                    <button id="deleteButton" onclick="deleteUser()">Xóa</button>
                </form>
            </div>
        </div>

    </div>
</div>
</div>
</div>


<!-- =========== Scripts =========  -->
<script th:src="@{/assets/js/adminJS/users.js}"></script>
<script th:src="@{/assets/js/adminJS/main.js}"></script>

<script>
    function showContent(id) {
        // Ẩn tất cả các phần tử nội dung
        document.querySelectorAll('.content').forEach(div => div.classList.remove('active'));
        // Hiển thị phần tử nội dung được chọn
        document.getElementById(id).classList.add('active');
    }

    // Đảm bảo trang chủ là trang mặc định khi load
    window.onload = function () {
        showContent('dashboard');
    };
</script>

<!-- ====== ionicons ======= -->
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>

</html>